{% include "dashboard/helpers/head.html" %}
{% include "dashboard/helpers/user_nav.html" %}

{% include 'dashboard/helpers/messages.html' %}

	<div id="pagewrap">
		<div class="dash-top">
			<h2>Add a new user</h2>
			<a href="/dashboard" class="button">Return to Dashboard</a>
		</div>
		<form action="/users/register" method="POST">
			{% csrf_token %}

			<input type="hidden" name="form" value="new_user">
			<label>
				Email Address:
				<input type="text" name="email">
			</label>

			<label>
				First Name:
				<input type="text" name="first_name">
			</label>

			<label>
				Last Name:
				<input type="text" name="last_name">
			</label>

			<label>
				Password:
				<input type="password" name="password">
			</label>

			<label>
				Confirm Password:
				<input type="password" name="confirm_pw">
			</label>

			<input type="submit" value="Add User" class="button">
		</form>


	</div>


{% include "dashboard/helpers/footer.html" %}